.popup-effect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(152, 152, 152, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    /* visibility: visible; */

    z-index: 99;
    overflow: auto;
}

.popup-effect:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #eaeaeabf;
    border-radius: 8px;
    /* max-width: 50%; */
    position: relative;
    margin: 12vh auto;
    padding: 3em 2em;
    z-index: 999;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.popup .close {
    position: absolute;
    top: 4px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.popup .close:hover {
    color: #fb7299;
}
